:root {
  --lightgrn: rgb(83, 83, 83);
  text-align: center;
}

body,
html {
  font-family: 'Tilt Neon', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

#cards-container {
  place-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

#card {
  font-family: 'Tilt Neon', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;

}

#img {
  width: calc(100% - 40px);
  height: 258px;
  border-radius: 10px;
  object-fit: contain;
  margin: 20px;
}

#modeName {
  color: white;
  padding-bottom: 15px;
  font-weight: bold;
}

#btn {
  padding: 5px;
  border: white solid 2px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: white;
}

#href {
  text-decoration: none;
  color: black;
}

.title {
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.table{
  border-left: white solid 1px;
  border-top: white solid 1px;
  border-right: white solid 1px;
}
#img2 {
  width: 500px;
  height: 500px;
  object-fit: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
